.toggle-Button {
  font-family: "Inter";
  width: 150px;
  height: 42px;
  left: 468px;
  top: 221px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 100px;
}

.toggle-Button-Active {
  background-color: #ffffff;
}
