
.toggleButton {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 16px;
  width: 150px;
  height: 42px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
}

.toggleButtonActive {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}
