
.toggle-Button {
  font-family: var(--font-inter);
  font-weight: 700;
  width: 150px;
  height: 42px;
  left: 468px;
  top: 221px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 100px;
  cursor: pointer;
}

.toggle-Button-Active {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}
