.card {
  display: block;
  gap: 12px;

  &:hover {
    filter: brightness(80%);
    transition: 0.15s;
  }
}

.cardImage {
  position: relative;
  border-radius: 8px;
  height: 400px;
  width: 270px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
