.card {
  display: block;
  position: relative;
  gap: 12px;
}
.cardTitle {
  opacity: 0;
  top: 0;
  position: absolute;
  font-family: "Inter";
  font-weight: 700;
  color: white;
  color-scheme: normal;
  width: 270px;
  height: 400px;
}

.card:hover {
  .cardTitle {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.cardImage {
  border-radius: 8px;
  height: 400px;
  width: 270px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
