

.trendingBigCards {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchSectionContainer {
  height: 100%;
}

@media (max-width: 768px) {
  .trendingBigCards {
    flex-direction: column;
  }
}

.genreList {
  display: flex;
  flex-wrap: wrap;
  gap:8px;
  margin: 26px 20px 48px 20px;
}

.smallCardContainer {
  padding: 0px 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .smallCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }
}
