.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}

.introduction {
  display: inline-block;
  text-align: center;
}

.imageContainer {
  display: inline-flex;
  justify-content: center;
}

.computerImage {
  width: 280px;
}

.name {
  color: white;
  font-size: 80px;
}

.greeting {
  font-size: 32px;
  color: white;
}

.frontend {
  color: #2cb67d;
  font-size: 32px;
}
