.layout {
  display: flex;
  height: 100%;
}

.base {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 40px;
  min-height: 100%;
}

.searchSectionContainer {
  height: 100%;
}

.baseMobileNavActive {
  filter: brightness(35%);
}

.mobileMenuButton {
  padding-right: 20px;
  background-color: rgba($color: #000000, $alpha: 0);
  border: 0;
}

.mobileHeader {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.moviesTitle{
  display: none;
  font-size: 24px;
  font-weight: 600;
  padding-left: 20px;
}

.footer {
  padding:180px 20px 20px 20px;
}

.disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #838383;
  font-size: 16px;
}

@media (max-width: 768px) {
  .moviesTitle {
    display: flex;
  }
  .footer {
    
  padding:50px 20px 180px 20px;
  }
}
