.Navigation {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  width: 170px;
  height: 100%;
  position: fixed;
  background-color: #171717;
  padding: 0px 20px;
  overflow: auto;
  box-shadow: 1px 0px 0px #686868;
}

.listItem {
  float: center;
  padding: 5px;
}

.listItem a {
  display: block;
  color: rgba(131, 131, 131, 1);
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 16px;
}

.listItem a:hover {
  transition: 0.2s;
  color: rgba(255, 255, 255, 1);
}
