
.Navigation {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 100%;
  background-color: #171717;
  padding: 0px 20px;
  overflow: auto;
  box-shadow: 1px 0px 0px #686868;
  flex-shrink: 0;
}


@media (max-width: 768px) {
  .Navigation {
    position: absolute;
    width: 70%;
    z-index: 1;
  }

  .NavigationMobile {
    display: none;
  }
}

.listItem {
  font-family: var(--font-inter);
  font-weight: 700;
  padding: 5px;
}

.listItem a{
  display: flex;
  gap: 12px;
  align-items: center;
  color: rgba(131, 131, 131, 1);
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 16px;
}

