

.card {
  display: block;
  gap: 12px;
  position: relative;
  border-radius: 8px;
  width: 100%;
  max-width: 680px;
  aspect-ratio: 1.8 / 1;
  overflow: hidden;
  background-repeat: no-repeat;

  &:hover {
    filter: brightness(80%);
    transition: 0.15s;
  }
}

.imgContent {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cardTitle {
  font-family: var(--font-inter);
  font-weight: 700;
  display: block;
  position: absolute;
  font-weight: 500;
  background-color: rgba(3, 3, 3, 0.65);
  padding: 16px;
  width: 100%;
  bottom: 0;
  align-items: baseline;
}

.cardUnderTitle {
  font-weight: 400;
}

@media (max-width: 600px) {
.cardTitle {
  padding: 6px;
}
}