.card {
  display: block;
  gap: 12px;

  &:hover {
    filter: brightness(80%);
    transition: 0.15s;
  }
}

.cardTitle {
  display: block;
  position: absolute;
  font-weight: 500;
  background-color: rgba(3, 3, 3, 0.65);
  padding: 16px;
  width: 100%;
  bottom: 0;
  align-items: baseline;
}

.cardUnderTitle {
  font-weight: 400;
}

.cardImage {
  position: relative;
  height: 320px;
  width: 500px;
  border-radius: 8px;
  overflow: hidden;
}
